.wrap {
	width: 100%;
	height: 100%;
}

.test {
	font-size: 1.6rem;
	color: $color-main;
}

.hidden {
	@include hiddenText;
}

.color {
	&-main {
		color: $color-main;
	}

	&-point {
		color: $color-point;
	}

	&-white {
		color: $color-white;
	}

	&-gray1 {
		color: $color-gray1;
	}

	&-gray2 {
		color: $color-gray2;
	}

	&-gray3 {
		color: $color-gray3;
	}

	&-gray4 {
		color: $color-gray4;
	}

	&-gray5 {
		color: $color-gray5;
	}
}

.tit {
	&-h1 {
		font-size: 1.6rem;
		line-height: 3.6rem;
		em {
			font-weight: $fw-medium;
			color: $color-point;
		}
	}

	&-page {
		font-size: 2.4rem;
		font-weight: $fw-bold;
		line-height: 3.6rem;
	}
}

.txt01 {
	@include txt-01;
}

.txt02 {
	@include txt-02;
}

.txt03 {
	@include txt-03;
}

.txt04 {
	@include txt-04;
}

.txt05 {
	@include txt-05;
}

.title-area {
	button {
		&.tit-main {
			padding-right: 28px;
			background: $color-white url($iconUrl + 'arrow_right.svg') no-repeat center right / 24px 24px;
		}
	}
	.tit-main {
		font-size: 2rem;
		line-height: 3rem;
	}
	.tit-sub {
		font-size: 1.4rem;
		line-height: 2.2rem;
		color: $color-point;
		&+ .tit-main {
			margin-top: $margin1;
		}
	}
}

.form-box {
	.form-title {
		font-size: 1.4rem;
		color: $color-main;
	}
	.form-item {
		margin-top: $margin2;
		&.required {
			.form-label {
				padding-right: 34px;
				&::after {
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					content: '(필수)';
					font-size: 1.2rem;
					font-weight: $fw-regular;
					line-height: 1.8rem;
					color: $color-gray3;
				}
			}
		}
		.form-label {
			position: relative;
			display: inline-block;
			margin-bottom: $margin1;
			@include txt(1.2rem, $fw-bold, 1.8rem, $color-gray5);
		}
		.form-error {
			padding-top: 4px;
			padding-left: 4px;
			font-size: 1.4rem;
			color: $color-point;
		}
	}
}

.box-border {
	padding: 16px;
	border: 1px solid $color-gray4;
	border-radius: 8px;
}

.box-gray {
	padding: 16px;
	border: 1px solid $color-gray4;
	background-color: rgba(169,171,184,.08);
	border-radius: 8px;
}

.lecture-list {
	display: flex;
}

.lecture-card {
	@include txt-04;
	&+ .lecture-card {
		margin-left: $margin3;
	}
	.lecture-link {
		&> [class^=lecture-] {
			display: block;
		}
	}
	.lecture-thumb {
		position: relative;
		width: auto;
		width: 212px;
		height: 126px;
		overflow: hidden;
		border-radius: 16px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.lecture-name {
		margin-top: $margin2;
	}
	.lecture-cate {
		margin-top: $margin1;
		@include txt-05;
		font-weight: $fw-medium;
		transition: 0.2s linear;
		&:hover {
			color: $color-point;
		}
	}
	.lecture-info {
		margin-top: $margin2;
		display: flex;
		flex-direction: column;
	}
	.lec-other {
		display: flex;
		@include txt-05;
		color: $color-gray1;
		&> [class^=lec-] {
			padding-left: 16px;
			background: url($iconUrl + 'ico_tag.svg') no-repeat left center / 14px;
			&:nth-of-type(n + 2) {
				position: relative;
				margin-left: $margin2;
				padding-left: calc($margin2 + 16px);
				background-position: left 8px center;
				&::before {
					position: absolute;
					content: '';
					display: block;
					width: 1px;
					height: 14px;
					top: 50%;
					left: 0;
					transform: translateY(-50%);
					background-color: rgb(43 45 54 / 8%);
				}
			}
		}
		.lec-level {
			color: $color-gray5;
		}
		&> .lec-like {
			background-image: url($iconUrl + 'ico_heart_fill.svg');
		}
		&> .lec-rate {
			background-image: url($iconUrl + 'ico_star.svg');
		}
	}
	.lec-price {
		margin-top: $margin2;
	}
}

.list-box {
	.list-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: $margin3;
		border-bottom: 1px solid $color-gray2;
	}
	.list-cont {
		flex: 1;
		max-width: 90%;
		padding-right: $margin3;
	}
	.list-other {
		flex-shrink: 0;
	}
	.list-tit {
		@include txt(1.6rem, $fw-medium, 2.4rem, $color-main);
		@include ellipse;
	}
	.list-info {
		display: flex;
		align-items: center;
		margin-top: $margin2;
		@include txt($ftSize: 1.2rem);
	}
	.cont-writer {
		display: flex;
		align-items: center;
		.writer-img {
			width: 18px;
			height: 18px;
			border-radius: 50%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.writer-name {
			margin-left: $margin2;
		}
	}
	.cont-date {
		color: $color-gray1;
		position: relative;
		margin-left: $margin2;
		padding-left: $margin2;
		&::before {
			position: absolute;
			display: block;
			content: '';
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 1px;
			height: 10px;
			background-color: $color-gray1;
		}
	}
	.cont-view {
		@include txt-05;
		text-align: right;
		.view-count {
			@include txt-03;
			font-weight: $fw-bold;
			color: $color-point;
		}
	}
}