$color-main: #111;
$color-point: lightcoral;
$color-white: #fff;
$color-gray1: #808080;
$color-gray2: #ccc;
$color-gray3: #b1b1b1;
$color-gray4: #e1e1e8;
$color-gray5: #525463;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$margin1: 4px;
$margin2: 8px;
$margin3: 16px;
$margin4: 32px;
$margin5: 40px;
$margin-side: 16px;

$imgUrl: '../../images/template/';
$iconUrl: '../../images/icon/';